module.exports = {
  env: {
    //LOGGER_TRANSPORT_TARGET: 'pino-pretty',
    //LOGGER_TRANSPORT_OPTIONS: '{}',
    //DATABASE_CONNECTION_URL: 'redis://localhost:6379/0',
    //DATABASE_PREFIX: 'famir',
    //STORAGE_END_POINT: 'localhost',
    //STORAGE_PORT: '9000',
    //STORAGE_USE_SSL: '0',
    STORAGE_ACCESS_KEY: 'test',
    STORAGE_SECRET_KEY: 'secret',
    //WORKFLOW_CONNECTION_URL: 'redis://localhost:6379/1',
    //WORKFLOW_PREFIX: 'bull',
    //EXECUTOR_CONNECTION_URL: 'redis://localhost:6379/1',
    //EXECUTOR_PREFIX: 'bull',
  }
}
