{
	auto_https off
}

http://httpbin.demo.fake:3080 {
	bind 127.0.0.1:3080

	encode zstd gzip

	reverse_proxy 127.0.0.1:3000 {
		header_up X-Famir-Campaign-Id "demo"
		header_up X-Famir-Target-Id "httpbin"
		header_up X-Famir-Client-Ip {remote_host}
	}
}

http://browserleaks.demo.fake:3080 {
	bind 127.0.0.1:3080

	reverse_proxy 127.0.0.1:3000 {
		header_up X-Famir-Campaign-Id "demo"
		header_up X-Famir-Target-Id "browserleaks"
		header_up X-Famir-Client-Ip {remote_host}
	}
}
