{
	default_bind 0.0.0.0

	log famir {
		output file /var/log/caddy/fake-mirrors.log {
			mode 640
			roll_size 10MiB
			roll_keep 1
		}

		format json
    include http.log.access
	}
}

(mirror) {
	https://{args[0]}:{args[1]} {
	  log famir

		encode zstd gzip

		reverse_proxy 127.0.0.1:3000 {
			header_up Host {args[0]}:{args[1]}
			header_up X-Real-Ip {remote_host}
		}
	}
}

import mirror httpbin.fake-mirrors.net 443

import mirror ja3zone.fake-mirrors.net 443
import mirror wbf.ja3zone.fake-mirrors.net 443
import mirror gzg.ja3zone.fake-mirrors.net 443

import mirror browserleaks.fake-mirrors.net 443
import mirror euw.browserleaks.fake-mirrors.net 443
import mirror mek.browserleaks.fake-mirrors.net 443
import mirror cqx.browserleaks.fake-mirrors.net 443
import mirror hwi.browserleaks.fake-mirrors.net 443
import mirror ppm.browserleaks.fake-mirrors.net 443
import mirror dvb.browserleaks.fake-mirrors.net 443
import mirror dku.browserleaks.fake-mirrors.net 443
import mirror cly.browserleaks.fake-mirrors.net 443
import mirror pko.browserleaks.fake-mirrors.net 443

import mirror hackernews.fake-mirrors.net 443
import mirror itc.hackernews.fake-mirrors.net 443
